    <div class="header">
        <div class="header-content">
            <ul class="header-text">
                <li><a href="{{link}}" style="font-size: 20px;padding-right: 85px;">{{rolePage}}'s Page</a></li>
                <li><a href="{{link}}"><img src="../images/FGW_logo.jpg" alt="avt" style="width: 200px"></a></li>
                <li class="header-avatar">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown">
                            <img src="../images/{{avatar}}" alt="">
                            <span>{{email}}</span>
                            {{!-- <i class="fa fa-caret-down"></i> --}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-fix">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Change password</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
